# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
# env/ для доступа к бд
.venv/

# Django
*.log
# db.sqlite3 убрал чтобы база полностью была скопирована
# media/
staticfiles/
static/

# Environment
# .env для доступа к бд

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migrations (опционально — обычно оставляют)
# */migrations/0*.py